{% extends "::blog-layout.html.twig" %}

{% block title %}AppBundle:Blog:list{% endblock %}

{% block body %}

    {% if currentTag is defined %}
        <h1>Liste des articles par tag : {{ currentTag }}</h1>
    {% else %}
        <h1>Welcome to the Blog</h1>
    {% endif %}

    <ul>
    {% for post in posts %}
        <li>
            <a href="{{ path('blog_details', {'id': post.id }) }}">
                {{ post.title }} par : {{ post.authorName }}
            </a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
