{% extends "::base.html.twig" %}

{% block title %}AppBundle:Calculator:subtract{% endblock %}

{% block body %}
<h1>Welcome to the Calculator:subtract page</h1>

    Le résultat du calcul est : {{ n1 }} - {{ n2 }} = {{ result }}
{% endblock %}
